*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../Images/tecnologia-digital-compras-linea-icono-sobre-fondo-azul-marketing-tiendas-linea-comercio-electronico_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: "FS Kim", Georgia, serif;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 40px;
    margin: 0;
}

.login-form {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form__label {
    color: black;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    display: block;
}

.login-form__input {
    font-family: "FS Kim", Georgia, serif;
    width: 100%;
    height: 40px;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.login-form__input::placeholder {
    text-align: center;
}

.error-mensaje {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.loading {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.login-form__button {
    padding: 15px 30px;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.login-form__button:hover {
    background-color: #2980b9;
}



